:root {
  --primary: #0081C9
  --secondary: #5BC0F8
  --tertiary: #86E5FF
  --yellow: #FFC93C
}


h1 {
  color: var(--primary)

}

h2 {
  color: var(--secondary)

}

h3 {
  color: var(--tertiary)

}

FullWidthButton {
  color: var(--secondary)

}

.background{
  color: var(--tertiary)
}

.txtcenter{
  text-align: center;
}