:root {
	--primary: #0081c9;
	--secondary: #5bc0f8;
	--tertiary: #86e5ff;
	--yellow: #ffc93c;
}

/* isnt talkin to my h1 tag */
h1 {
	color: var(--primary);
}

h2 {
	color: var(--secondary);
}

h3 {
	color: var(--secondary);
}

FullWidthButton {
	background-color: var(--yellow)
}

.background{
  color: var(--tertiary)
}

.txtcenter{
  text-align: center;
}


.justcenter{
justify-content: center;
}
.aligncenter{
  align-items: center;
}

.marginneg15{
  margin-bottom:-15px;
}
