.logobox{
    display:flex;
    justify-content: center;
     filter: invert(38%) sepia(58%) saturate(7088%) hue-rotate(184deg) brightness(98%) contrast(102%);
    ;
     
}

.logobox img{
    /* max-width: 150px; */
     margin-top: 150px
}

.buttons-redirect{
    display: flex;
    justify-content: center;
}
h2{color: var(--primary) !important}
