.DonorWelcome {
  margin-bottom: 20px;
  padding: 0px !important;
}
.DonorH h3 {
  font-size: calc(1rem + 0.6vw);
  color: #0081c9;
  margin-top: -10px;
}
.AboutContainer h4 {
  font-size: calc(0.8rem + 0.6vw);
  color: #0081c9;
  font-weight: 700 !important;
}
.DonorH3 {
  font-size: calc(1rem + 0.6vw) !important;
  color: #0081c9;
  font-weight: 700;
  margin-top: -10px;
}
.KBSignUpButton {
  color: #fff;
  background: #68c8ff;
  font-weight: 700;
  font-size: calc(0.6rem + 0.6vw);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.buttonlink {
  text-decoration: none;
}
