:root {
	--primary: #0081c9;
	--secondary: #5bc0f8;
	--tertiary: #86e5ff;
	--yellow: #ffc93c;
}

/* isnt talkin to my h1 tag */
h1 {
	color: var(--primary);
}

h2 {
	color: var(--secondary);
}

h3 {
	color: var(--secondary);
}

FullWidthButton {
	background-color: var(--yellow)
}

.Background {
	background-color: var(--tertiary);
	min-height: 100vh;
	/* margin-top: 0px !important; */
}

/* trying to center the form */
.signUp {
   margin-top:80px
}