<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Señor Spyro, the sexiest hero you'll ever meet</title>
    <link rel="stylesheet" href="hostingwebsite.css" />
  </head>
  <body>
  <header>
  <h1><span>Mermaids Against Plastic</span></h1>
    <img src="https://www.dropbox.com/s/ewh7pjsv5epcy92/spyro3.jpg?raw=1" width="20%" alt="spyro in whaleshark suit"/>
    
    
    
    <!-- <h2><span> It's a bird, it's a plane, it's an underwater maiden, NO, it's Señor Spyro!</span></h2>  -->
    <nav class="overview">
    <ul>
     <li> <a href="index.html">Home</a></li>
      <li><a href="https://www.instagram.com/mermaids_against_plastic/">Instagram</a></li>
      <li><a href="https://vimeo.com/372952803">The Documentary</a></li>
     
    </ul>
    </nav>
   
  </header>
  
      <div id="background">
  <article> 

   <div class="about"> 
     <p> 
   An estimated 11 million metric tons of plastic waste enter the ocean every year. Without immediate and sustained action, that amount will nearly triple by 2040, to 29 million metric tons per year. That’s the same as dumping 110 pounds (50 kilograms) of plastic on every meter of coastline around the world. 
     </p>
     
    </div>
   
  </article>
    </div>
  
  
  
  </body>
</html>
