


.karmabox-button-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 75px;
    margin-bottom: 75px;
}
.karmabox-button-button {
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #86e5ff;
    /* background-image: url("http://localhost:3000/assets/logo3.png%22); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    cursor: pointer;
}

.karmabox-image-image {
    filter: invert(33%) sepia(47%) saturate(4640%) hue-rotate(181deg) brightness(93%) contrast(102%);
    border: none;
    width: 50px;
    height: 50px;
}

.karmabox-popup-container {
    --kb-tab-height: 35px;
    --kb-body-height: calc(500px var(--kb-tab-height));
    --kb-height: 500px;
    --primary: #0081c9;
    --secondary: #5bc0f8;
    --tertiary: #86e5ff;
    --yellow: #ffc93c;
    --yellow-plus: #fdbc02;
    height: 400px;
    /* var(--kb-body-height); */
    width: 250px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 72px;
   /* 20 */
    margin-bottom: 86px;
    /* 90 */
    padding: 0px 20px 20px 20px;
    background-color: #d3f5ff;
    border-radius: 8px;
    color: var(--primary);
    box-shadow: 0 40px 70px 20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%);
   
}
#kb-charity{
    font-size: 16.2px;
}
#kb-slogan{
    font-size: 17px; 
        margin-bottom: -15px;
}
.kb-body-wrapper-kba{
    margin-top:10px;
}
/* form */
.karmabox-popup-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* primary #0081c9
 * secondary #5bc0f8
 * tertiary #86e5ff
 * yellow #ffc93c
*/

.karmabox-popup-input {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #e7faff;
    border-radius: 10px;
}


.kb-tabs {
    margin-right: -20px;
    margin-left: -20px;
   
    display: flex;
    justify-content: space-between;
    height: var(--kb-tab-height);
}

.kb-tab-button {
    width: 50%;
    height: 100%;
    border: none;
    background-color: var(--secondary);
    color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.kb-tab-button:hover {
    background-color: var(--tertiary);
}

.kb-tab-button-select {
    background-color: #d3f5ff;
    color: var(--primary);
}

.kb-tab-button-select:hover {
    background-color: #d3f5ff;
}

/* card tab container */
.kb-body-container-card{
    height: var(--kb-body-height);
    overflow-y: scroll;
}
/* karma box acount tab container */
.kb-body-container-kba{
    height: var(--kb-body-height);
    overflow-y: scroll;
}
.kb-display-none {
    display: none;
}


#karmabox-popup-submit {
    background-color: var(--yellow);
       border-color: var(--yellow);
    margin: 10px;
    height: 40px; 
    padding: 8px 10px 10px 10px;
    font-size: 1.2em;
    border-radius: 2px;
}
#karmabox-popup-submit:hover {
    background-color: var(--yellow-plus);
}

.kb-amount-container {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    width: 100%;
}

.kb-amount-button {
    justify-self: flex-end;
    width: 50px;
}

/* karma box acount tab */

.kba-amount-select-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.kba-amount-select {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: var(--secondary);
    border: none;
    margin: 10px;
}
.kba-custom-amount{
    font-size: 16px;
    font-weight: 550;
}

.kba-amount-select:hover {
    background-color: var(--tertiary);
}
.kba-amount-selected {
    background-color: var(--yellow);
    font-weight: 600;
    height: 55px;
    width: 55px;
}
.kba-amount-selected:hover {
    background-color: var(--yellow-plus);
    
}

.kb-body-wrapper-kba {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.kb-body-wrapper-kba > div > input {
    height: 25px;
    width: 78px;
    margin-right: 14px;
}
.kb-body-wrapper-kba > label {
    margin: 10px;
}

#karmabox-popup-kba-submit {
    background-color: var(--yellow);
    border-color: var(--yellow);
    margin: 10px;
    height: 40px; 
    padding: 8px 10px 10px 10px;
    font-size: 1.2em;
    border-radius: 2px;
    margin-top: 20px;
}
#karmabox-popup-kba-submit:hover {
    background-color: var(--yellow-plus);
}
.kba-or {
    margin: 0;
}

/* Julia's ideas 
  box-shadow: 0 40px 70px 20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%);
    background-color: b9f0ff
    font color  */