


.karmabox-button-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 75px;
    margin-bottom: 75px;
}
.karmabox-button-button {
    border: none;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    background-color: red;
}
.karmabox-popup-container {
    --kb-tab-height: 35px;
    --kb-body-height: calc(500px var(--kb-tab-height));
    --kb-height: 500px;
    --primary: #0081c9;
    --secondary: #5bc0f8;
    --tertiary: #86e5ff;
    --yellow: #ffc93c;
    --yellow-plus: #fdbc02;
    height: var(--kb-body-height);
    width: 315px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 150px;
    margin-bottom: 150px;
    padding: 0px 20px 20px 20px;
    background-color: var(--primary);
    border-radius: 10px;

    color: white;
}

/* form */
.karmabox-popup-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* primary #0081c9
 * secondary #5bc0f8
 * tertiary #86e5ff
 * yellow #ffc93c
*/

.karmabox-popup-input {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #e7faff;
    border-radius: 10px;
}


.kb-tabs {
    display: flex;
    justify-content: space-between;
    height: var(--kb-tab-height);
}

.kb-tab-button {
    width: 50%;
    height: 100%;
    border: none;
    background-color: var(--secondary);
    color: black;
}

.kb-tab-button:hover {
    background-color: var(--tertiary);
}

.kb-tab-button-select {
    background-color: var(--primary);
    color: white;
}

.kb-tab-button-select:hover {
    background-color: var(--primary);
}

/* card tab container */
.kb-body-container-card{
    height: var(--kb-body-height);
    overflow-y: scroll;
}
/* karma box acount tab container */
.kb-body-container-kba{
    height: var(--kb-body-height);
    overflow-y: scroll;
}
.kb-display-none {
    display: none;
}


#karmabox-popup-submit {
    background-color: var(--yellow);
    border: none;
    margin: 10px;
    height: 40px; 
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
}
#karmabox-popup-submit:hover {
    background-color: var(--yellow-plus);
    border: none;
    margin: 10px;
    height: 40px; 
    padding: 10px;
    font-size: 1.2em;
}

.kb-amount-container {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    width: 100%;
}

.kb-amount-button {
    justify-self: flex-end;
    width: 50px;
}

