:root {
  --primary: #0081c9;
  --secondary: #5bc0f8;
  --tertiary: #86e5ff;
  --yellow: #ffc93c;
}

h1 {
  color: var(--primary);
}

h2 {
  color: var(--secondary);
}

h3 {
  color: var(--secondary);
}

FullWidthButton {
  background-color: var(--yellow);
}

.Background {
  display: "flex";
  align-items: "center";
  justify-content: "center";
  background-color: var(--tertiary);
  min-height: 100vh;
}

.profilepage {
  margin-top: 100px;
}
.total-donations h1 {
  font-size: calc(1.2rem + 1vw);
  margin-top: 30px;
  background-color: var(--secondary);
  color: black;
}

.donations-table {
  background-color: #cff4fc;
  --bs-table-striped-bg: rgba(0, 129, 201, 0.05) !important;
}
